@charset "utf-8";
/* 页面样式*/
body{
	background-image: url(../img/bak.jpg);
}
#main{
		   width:1200px;           /*主界面*/
		   height:1000px;
		   margin: 0 auto;
		   
	   }
	   
	 #nodelist{                     /*节点列表*/
	      width:300px;
		  height:800px;
		  position:relative;
          
		  float:left;
		  text-align:center;
		  margin-top:50px;
	 }
	 
	 #shownode{                   /*节点显示*/
		 
		 width:880px;
		  
		  position:relative;
          
           /*border-color: transparent;*/
		  float:left;
		  text-align:center;
		  
		 
		 }
	#node_stage{ width:880px;
		  height:800px;
		  position:relative;
         border-color: black;
         border-top-style:dashed;
          border-right-color: grey;
         border-right-style: dashed;
         border-left-color: grey;
         border-left-style: dashed;
		  float:left;
		  text-align:center;
		 
		  }

